* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
header {
    background-color: #f4f4f9;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
nav h2 {
    margin: 0 0 0 10vw;
}
nav h2 a {
    color: #000000;
    font-size: 24px;
}
nav ul {
    display: flex;
    align-items: center;
    margin: 0 10vw 0 0;
}
nav ul li {
    position: relative;
    margin: 0 1vw 0 1vw;
}
nav a {
    color: #272727;
    text-decoration: none;
    position: relative; 
    font-size: 1.3rem;
}

nav a::after {
    content: "";
    background-color: rgb(10, 73, 10);
    height: 2px;
    width: 100%; 
    position: absolute;
    bottom: 0; 
    left: 0;
    transition: width 0.5s ease; 
    width: 0; 
}

nav ul a:hover::after {
    width: 100%; 
    color: rgb(10, 73, 10);
}

nav ul a:hover {
    color: rgb(10, 73, 10);
}
.citologia {
    background-color: #f4f4f9;
    padding: 2vw 0;
}
.citologia h1 {
    text-align: center;
    margin: 4vw 0;
    font-size: 3rem;
    position: relative;
}
span {
    position: relative;
    display: inline-block;
}
span::after {
    position: absolute;
    content: "";
    background-color: rgb(10, 73, 10);
    top: 100%; 
    left: 0;
    width: 0; 
    height: 3px;
    animation: animationLine 1s forwards;
}
@keyframes animationLine {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
.citologia p {
    margin: 0 20vw;
    text-align: center;
    font-size: 1.5rem;
}
.celulas {
    background-color: #f4f4f9;
    padding: 2vw 0 8vw 0;
}
.celulas h2 {
    text-align: center;
    margin: 0 0 4vw 0;
    color: rgb(0, 0, 0);
    font-size: 2vw;
}
.celulas ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.celulas ul li ul{
    display: flex;
    flex-direction: column;
    height: 20vw;
    width: 20vw;
    background-color: #24ad5d;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 3vw;
}
.celulas ul li ul li p {
    margin: 1.4vw 0;
    font-size: 1rem;
    color: white;
}
.celulas ul li ul li h3 {
    color: white;
}
.celulas button {
    padding: 15px 30px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    margin-top: 2vw;
}
.celulas button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.75s ease;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
}
.celulas button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}
.celulas button:hover {
    background-color: #0056b3;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
footer {
    background-color: rgb(10, 73, 10);
    padding: 2vw 0;
}
footer p {
    font-size: 1.5rem;
    color: white;
}
footer ul {
    display: flex;
    align-items: center;
    margin: 0 20vw;
    justify-content: space-between;
    padding-bottom: 2vw;
    border-bottom: 2px solid #ffffff;
}
footer h3 {
    text-align: center;
    margin-top: 2vw;
    font-weight: 300;
    color: white;
}
footer button {
    padding: 15px 30px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}
footer button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.75s ease;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
}
footer button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}
footer button:hover {
    background-color: #0056b3;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
.celulas ul li.conteudo {
    margin: 0 2vw;
    transition: 0.3s;
}
.celulas ul li.conteudo:hover {
    transform: scale(1.01);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    nav {
        align-items: center;
        padding: 10px;
    }
    nav h2 {
        margin: 0;
    }
    nav ul {
        margin: 0;
    }
    nav ul li {
        margin: 10px 10px 0 0;
    }
    .citologia p {
        margin: 0 5vw;
        font-size: 1.2rem;
    }
    .celulas ul {
        flex-wrap: wrap;
    }
    .celulas ul li ul {
        height: auto;
        width: 80vw;
        margin: 10px;
        padding: 5vw;
        
    }
    .celulas ul li ul li p {
        font-size: 1.2rem;
    }
    .celulas h2 {
        font-size: 5vw;
    }
}
